.calendar {
  height: 400px;
  max-width: 320px !important;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%),
    0 1px 10px 0 rgb(0 0 0 / 12%);
  border-radius: 12px;
}

.days {
  width: 15%;
}
